PRIVATE_KEY=0x0000000000000000000000000000000000000000000000000000000000000001
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_KEY
MAINNET_RPC_URL=https://mainnet.infura.io/v3/YOUR_INFURA_KEY
POLYGON_RPC_URL=https://polygon-rpc.com
ARBITRUM_RPC_URL=https://arb1.arbitrum.io/rpc
OPTIMISM_RPC_URL=https://mainnet.optimism.io
BASE_RPC_URL=https://mainnet.base.org
ETHERSCAN_API_KEY=YOUR_ETHERSCAN_KEY
POLYGONSCAN_API_KEY=YOUR_POLYGONSCAN_KEY
ARBISCAN_API_KEY=YOUR_ARBISCAN_KEY
OPTIMISM_API_KEY=YOUR_OPTIMISM_KEY
BASESCAN_API_KEY=YOUR_BASESCAN_KEY
REPORT_GAS=false
